.ul {
  list-style-type: none;
}

.li {
  float: left;
}

.li .a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  margin: 0 30px;
  position: relative;
  cursor: pointer;
}

.li .a::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--primary-color);
  transition: all .5s;
}

.li .a:hover::before {
  width: 100%;
}

.box {
  background-color: white;
  padding: 30px 30px 30px 30px;
  margin: 10px;
  border: 2px solid #EEEEEE;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction:column;
  text-align: start;
}

.icon_box{
  position: absolute;
  margin: 0 0 0 175px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: 'center';
}


.icon {
  font-size: 30px;
  position: absolute;
  border: 1px none;
  color: white;
  margin: 10px;
}

