.ul {
  list-style-type: none;
}

.li {
  float: left;
}

.li .a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  margin: 0 30px;
  position: relative;
}

.li .a::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--primary-color);
  transition: all .5s;
}

.li .a:hover::before {
  width: 100%;
}